@import "../../styles/variables";
@import "../../styles/mixins";

.btn {
  outline: none;
  border: 0;
  border-radius: 5px;
  display: inline-block;
  color: #ffffff;
  width: 85px;
  height: 35px;
  box-shadow: none !important;
  &:focus {
    border-color: transparent;
  }
  &-search {
    background-color: $color2;
    margin-left: 10px;
    border-color: transparent;
    &:hover {
      background-color: darken($color2, 10%);
      color: #ffffff;
      @include phone {
        background-color: transparent;
      }
    }
    &:not(:disabled):not(.disabled):active {
      background-color: lighten($color2, 10%);
      @include phone {
        background-color: transparent;
      }
    }
    &:focus {
      background-color: $color2;
      @include phone {
        background-color: transparent;
      }
    }
    @include phone {
      background-color: transparent;
    }
  }
  &-reset {
    padding: 0;
    width: 35px;
    margin-left: 7px;
    transition: opacity 0.2s ease-in;
    img {
      width: 100%;
    }
    &:hover {
      opacity: 0.75;
    }
  }
  @include phone {
    padding: 0;
    width: 35px;
  }
}
