@import "../../styles/variables";
@import "../../styles/mixins";

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  &:last-child {
    margin-bottom: 0;
  }
  &__img {
    flex-shrink: 0;
    width: 385px;
    max-width: 100%;
    @include tablet-landscape {
      height: 500px;
      width: 350px;
    }
    @include tablet-portrait {
      height: 415px;
      width: 300px;
    }
  }
  &__name {
    font-size: 36px;
    line-height: 28px;
    margin-bottom: 22px;
    @include tablet-landscape {
      font-size: 30px;
      line-height: 24px;
      margin-bottom: 10px;
    }
    @include tablet-portrait {
      font-size: 26px;
      line-height: 20px;
      margin-bottom: 20px;
    }
    @include phone {
      font-size: 24px;
      margin-bottom: 12px;
    }
  }
  &__title {
    text-decoration: underline;
    font-size: 24px;
    @include tablet-landscape {
      font-size: 22px;
    }
    @include tablet-portrait {
      font-size: 20px;
    }
  }
  &__name,
  &__title {
    font-family: "Roboto", sans-serif;
    color: $color2;
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    @include tablet-landscape {
      margin-left: 30px;
    }
    @include tablet-portrait {
      margin-left: 0;
      align-items: center;
    }
  }
  &__description {
    @include desktop-s {
      margin-bottom: 10px;
      line-height: 28px;
    }
    @include tablet-portrait {
      line-height: 26px;
      font-size: 15px;
      text-align: center;
      margin-top: 15px;
    }
    @include phone {
      text-align: left;
    }
  }
  &__date {
    color: $color3;
    font-weight: bold;
    @include desktop-s {
      margin-bottom: 10px;
    }
  }
  &__feature {
    display: flex;
    @include tablet-landscape {
      line-height: 28px;
    }
  }
  &__property {
    color: $color3;
    margin-right: 7px;
    font-weight: bold;
  }
  &__properties {
    @include phone {
      margin-bottom: 15px;
    }
  }
  &__value {
    margin-left: 7px;
  }
  &__button {
    display: inline-block;
    border: none;
    background: transparent;
    max-width: 190px;
    text-align: left;
    padding: 0;
    width: 100%;
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
    color: $color2;
    outline: none;
    &:hover {
      text-decoration: none;
      color: darken($color2, 10%);
    }
    @include phone {
      margin-top: 8px;
    }
  }
  @include tablet-landscape {
    margin-bottom: 30px;
  }
  @include tablet-portrait {
    flex-direction: column;
    align-items: center;
  }
}
