@import "node_modules/react-modal-video/scss/modal-video.scss";
@import "../../styles/typography";
@import "../../styles/variables";
@import "../../styles/mixins";

.main .container {
  @include tablets {
    max-width: 900px;
  }
}

.loader {
  width: 100%;
  text-align: center;
  img {
    width: 140px;
  }
}

.icon {
  display: inline-block;
  &-play {
    width: 20px;
    height: 20px;
    @include desktop-s {
      width: 16px;
      height: 16px;
    }
  }
}
