@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  background: url(../../images/launch2.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  .container {
    height: inherit;
    display: flex;
    align-items: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 45px;
    color: #ffffff;
    transition: color 0.2s ease-in;
    @include tablet-landscape {
      font-size: 30px;
      margin-bottom: 30px;
    }
    &:hover {
      color: #2588f3;
      text-decoration: none;
    }
  }
}

.date {
  background-color: rgba($color: #000000, $alpha: 0.5);
  max-width: 400px;
  width: 100%;
  border-radius: 15px;
  padding: 30px 40px;
  font-weight: bold;
  &__title {
    margin-top: 0;
    font-size: 30px;
    color: $color2;
    font-weight: bold;
    margin-bottom: 30px;
    @include tablet-landscape {
      font-size: 24px;
      margin-bottom: 17px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @include tablet-landscape {
      margin-bottom: 23px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    font-size: 44px;
    color: #ffffff;
    @include tablet-landscape {
      font-size: 32px;
    }
  }
  &__span {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    color: #b6d2fd;
    line-height: 44px;
    @include tablet-landscape {
      font-size: 20px;
      line-height: 22px;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    padding: 4px 0;
    background-color: $color2;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    transition: color 0.2s ease-in;
    &:hover {
      text-decoration: none;
      color: #ffffff;
    }
    @include tablet-landscape {
      padding: 2px 0;
      font-size: 16px;
    }
  }
  @include tablet-landscape {
    max-width: 300px;
    padding: 25px 25px;
  }
}
