@import "../../styles/variables";
@import "../../styles/mixins";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  &-control {
    height: 35px;
    &:focus {
      border-color: #ced4da;
      box-shadow: none;
    }
  }
  &-group {
    display: flex;
    width: 100%;
  }
  &-message {
    color: red;
  }
  @include tablet-portrait {
    flex-basis: 76%;
  }
  @include phone {
    flex-basis: 100%;
  }
}
