.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
  &-control {
    height: 35px;
    &:focus {
      border-color: #ced4da;
      box-shadow: none;
    }
  }
}
