@import "../../styles/variables";
@import "../../styles/mixins";
.launch {
  .container {
    @include tablet-portrait {
      max-width: 100%;
    }
  }
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    @include phone {
      flex-wrap: wrap;
      justify-content: flex-start;
      border-bottom: 1px solid #f4f4f4;
    }
  }
  &__star {
    width: 10px;
    height: 10px;
  }
  &__description {
    font-size: 14px;
    padding-top: 10px;
    border-top: 1px solid #f4f4f4;
  }
  &__wrapper {
    @include tablet-portrait {
      width: 100%;
      overflow-x: scroll;
    }
  }
  &__table {
    width: 100%;
    position: relative;
    @include tablet-portrait {
      width: 900px;
    }
    thead {
      border-bottom: 2px solid #f4f4f4;

      tr {
        background-color: #ffffff !important;
      }
    }
    th {
      padding: 10px 5px;
      color: $color1;
      position: sticky;
      z-index: 3;
      top: 0;
      height: 45px;
      background-color: #ffffff;
    }
    .th-click {
      cursor: pointer;
    }
    tbody {
      position: relative;
      .loader {
        position: absolute;
        z-index: 2;
      }
      .loader-tr {
        background-color: #ffffff !important;
      }
    }
    td {
      padding: 10px 5px;
    }
    tr:hover {
      background-color: #d6e6f1;
    }
    tr:nth-child(odd) {
      background-color: #f3f3f3;
      &:hover {
        background-color: #d6e6f1;
      }
    }
  }
  &__cell {
    text-align: center;
  }
  &__mission {
    width: 47%;

    &_mod {
      position: relative;
      cursor: pointer;
      &:before {
        position: absolute;
        content: "";
        background: url(../../images/icons/star.svg) no-repeat center;
        background-size: contain;
        top: 18px;
        left: -7px;
        width: 7px;
        height: 7px;
      }
    }
    @include tablets {
      width: 43%;
    }
  }
  &__details {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    margin-right: 20px;
    @include phone {
      max-width: 295px;
    }
  }
}

.icon {
  position: relative;
  &-desc::before {
    position: absolute;
    content: "";
    background: url(../../images/icons/arrow.svg) no-repeat center;
    background-size: contain;
    width: 15px;
    height: 15px;
    bottom: -2px;
    left: 0px;
  }
  &-asc::before {
    position: absolute;
    content: "";
    background: url(../../images/icons/arrow.svg) no-repeat center;
    background-size: contain;
    width: 15px;
    height: 15px;
    bottom: -2px;
    left: 0px;
    transform: rotate(180deg);
  }
}
