@import "../../styles/variables";
.launch {
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }
  &__table {
    width: 100%;
    position: relative;
    counter-reset: rowNumber;
    thead {
      border-bottom: 2px solid #f4f4f4;

      tr {
        background-color: #ffffff !important;
      }
    }
    th {
      padding: 10px 5px;
      color: $color1;
      position: sticky;
      top: 0;
      height: 45px;
      background-color: #ffffff;
    }
    .th-click {
      cursor: pointer;
    }
    tbody {
      position: relative;
      .loader {
        position: absolute;
        z-index: 2;
      }
      .loader-tr {
        background-color: #ffffff !important;
      }
    }
    td {
      padding: 10px 5px;
    }
    tr:hover {
      background-color: #d6e6f1;
    }
    tr:nth-child(odd) {
      background-color: #f3f3f3;
      &:hover {
        background-color: #d6e6f1;
      }
    }
  }
  &__cell {
    text-align: center;
  }
}

// table tbody tr {
//   counter-increment: rowNumber;
// }

// table tr td:first-child::before {
//   content: counter(rowNumber);
//   min-width: 1em;
// }

.icon {
  position: relative;
  &-desc::before {
    position: absolute;
    content: "\1F815";
    width: 100%;
    bottom: -9px;
    left: 3px;
    font-size: 19px;
  }
  &-asc::before {
    position: absolute;
    content: "\1F817";
    width: 100%;
    bottom: -9px;
    left: 3px;
    font-size: 19px;
  }
}
