.launch {
  &__title {
    text-align: center;
    color: #8209e4;
    font-size: 30px;
    font-weight: 700;
  }
  &__button {
    outline: none;
    border: none;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
    background-color: #00118b;
    width: 85px;
    height: 35px;
    &_asc {
      margin-left: 10px;
      background-color: #e70def;
    }
  }
  &__table {
    width: 100%;
    position: relative;
    thead {
      border-bottom: 2px solid #f4f4f4;

      tr {
        background-color: #ffffff !important;
      }
    }
    th {
      padding: 10px 5px;
      color: #00118b;
      position: sticky;
      top: 0;
      height: 45px;
      background-color: #ffffff;
    }
    td {
      padding: 10px 5px;
    }
    tr:hover {
      background-color: #d6e6f1;
    }
    tr:nth-child(odd) {
      background-color: #f3f3f3;
      &:hover {
        background-color: #d6e6f1;
      }
    }
  }
}

.pagination {
  margin: 20px 0;
  justify-content: center;
}
